.shiny-notification {
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
	color: blue;
	font-size: 20px;
	font-style: italic;
}
.myfilecontent {
  margin-left: 20px;
  margin-bottom: 100px;
  background-color:  #e0ebeb;
  width: 95%;
  overflow-x: scroll;
}

/* The alert message box */
.myalert {
  padding: 20px;
  background-color: #85e085; /* green */
  color: white;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: bold;
}


/* The alert message box */
.myalertred {
  padding: 20px;
  background-color: #ff8080; /* Red */
  color: white;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: bold;
}
.buttonred {
    color: #000000;
    background: #ff8080;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 12pt;
    outline: none;
}

.buttongreen {
    color: #000000;
    background: #85e085;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 12pt;
    outline: none;
}

.buttonyellow {
    color: #000000;
    background: #ffbf00;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 12pt;
    outline: none;
}

.buttonsave {
    color: #000000;
    background: #ff8080;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 16pt;
    outline: none;
}

.mynotegreen {
  color: #009900;
  font-size: 18px;
  font-weight: bold;
}

.mynotered {
  color: #cc2900;
  font-size: 18px;
  font-weight: bold;
}

.mandatory_star {
  color: #cc2900;
  font-size: 15px;
  font-weight: bold;
}

.nonmandatory {
  color: #0066ff;
  font-size: 15px;
  font-weight: bold;
}
